/* Set a background image by replacing the URL below */
body {
    background: url('https://source.unsplash.com/twukN12EN7c/1920x1080') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }

  .content_center {
    display: flex;
    justify-content: center;
    align-items: center; 
  }

  .card__badge {
    position: absolute;
    top: 13px;
    left: 30px;
    width: 25px;
    height: 25px;
    background: blue;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }