{% extends "base.html" %}
{% block title %}{% endblock %}
{% block head %}{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-center mb-5">500 - Internal Server Error</h3>
            <div>
                <p>Doh! Well, that's embarrassing.  The server has experienced 
                    an error. We've been alerted and we'll fix it soon.  
                </p>
                <p>Sorry about that!</p>
            </div>
        </div>
    </div>
</div>
<script src="{{ url_for('static',filename='js/form.js') }}"></script>
{% endblock %}