{% extends "base.html" %}
{% block title %}{% endblock %}
{% block head %}{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-center mb-5">Testing Page</h3>
            <p>Token Requests</p>
            <p><a href="{{ url_for('get_token', token_id='39309wut09u4wjlfjlsjdfl') }}">Shawn</a></p>
            <p><a href="{{ url_for('get_token', token_id='39309wut09u4wjlfjlsjdfl') }}">Cathy</a></p>
            <p><a href="{{ url_for('get_token', token_id='39398934o9ulksflksjdfli') }}">Erin</a></p>
            <p><a href="{{ url_for('get_token', token_id='3030knsl(fp300pjls389939') }}">Luke</a></p>
            <p><a href="{{ url_for('get_token', token_id='393499320') }}">Invalid</a></p>
            <p>Get password</p>
            <p><a href="{{ url_for('getpasswd') }}">Get password - no token</a></p>
        </div>
    </div>
</div>
{% endblock %}